.header-index {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    cursor: pointer;
}
.header-buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.header-buscador input[type="text"] {
    max-width: 350px;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    background-color:#ecebeb;
    border: none; 
    background-image: url('assets/iconos/lupainput.svg');
    background-repeat: no-repeat;
    background-position: 5px center;
}
.header-buscador img {
    cursor: pointer;
}
.seccion-post{
    max-width: 390px;
    font-family: sans-serif; 
    font-size: 12px; 
    color: #181717;
    font-weight: bold;
    margin-left: 5px;
}
.barra-postleft{
    display: flex; 
    justify-content: flex-start; 
    cursor: pointer;
}
.barra-postright{
    display: flex; 
    justify-content: flex-end; 
    cursor: pointer; 
    margin-top: -10px;
}
.container-description{
    display: flex; 
    flex-direction: column;
    font-family: sans-serif; 
    font-size: 12px;
    color: #181717;
}
.footer {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    margin-top: 10px;
}
.footer img{
    cursor: pointer;
}