.header-index {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    cursor: pointer;
}
.header-buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.header-buscador input[type="text"] {
    max-width: 350px;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    background-color:#ecebeb;
    border: none; 
    background-image: url('assets/iconos/lupainput.svg');
    background-repeat: no-repeat;
    background-position: 5px center;
}
.header-buscador img {
    cursor: pointer;
}
.container-post{
    display: flex;
    flex-direction: column;
}
 .barra-post{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -12px;
    cursor: pointer;
}
.container-description{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.footer {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    margin-top: 10px;
}
.footer img{
    cursor: pointer;
}